apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: web-analyzer-prod

namePrefix: prod-

resources:
  - ../../base
  - hpa.yaml
  - pdb.yaml

patches:
  - patch: |
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: web-analyzer
  - patch: |
      - op: replace
        path: /metadata/name
        value: web-analyzer-prod
    target:
      kind: Namespace
  - patch: |
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 512Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "1"
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 128Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 100m
    target:
      kind: Deployment
      name: web-analyzer

images:
  - name: web-analyzer
    newTag: latest

commonLabels:
  environment: production
