apiVersion: v1
kind: Service
metadata:
  name: web-analyzer
  labels:
    app: web-analyzer
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: web-analyzer
